[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = MY
ST = Wilayah Persekutuan
L = Kuala Lumpur
O = Pantai Medical Centre Sdn Bhd
OU = IT
CN = phklsmartward.ppl.ihh.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = phklsmartward.ppl.ihh.com
